---
bootstrap:
  ignHttpLocation: http://192.168.0.x:8080/ignition/bootstrap.ign
set_proxy: false
disconnected: false
container_registry: quay.ocp4.lab.gsslab.pek2.redhat.com:443
ocp_release: ocp4.3.3-x86_64
enable_ocs_storage: False
config:
  baseDomain: ocp.example.com 
  clusterName: ocp4
  bootstrapmac: 00:50:56:ab:b8:01
  master0mac: 00:50:56:ab:b8:02
  master1mac: 00:50:56:ab:b8:03
  master2mac: 00:50:56:ab:b8:04
  worker0mac: 00:50:56:ab:b8:05
  worker1mac: 00:50:56:ab:b8:06
  worker2mac: 00:50:56:ab:b8:07
  storage0mac: 00:50:56:ab:b8:08
  storage1mac: 00:50:56:ab:b8:09
  storage2mac: 00:50:56:ab:b8:10
  proxy: ""
  no_proxy: ""
  sshKey: ssh-rsa AAAAB3Nza
  pullSecret: 
  CAcert: " |   
  -----BEGIN CERTIFICATE-----
  MIIDyzCCArOgAwIBAgIJANPmLVdLKvgrMA0GCSqGSIb3DQEBCwUAMHwxCzAJBgNV
  BAYTAkFVMQwwCgYDVQQIDANOU1cxGzAZBgNVBAoMElJlZCBIYXQgQ29uc3VsdGlu
  ZzETMBEGA1UECwwKQ29uc3VsdGluZzELMAkGA1UEAwwCQ0ExIDAeBgkqhkiG9w0B
  CQEWEXdkb3ZleUByZWRoYXQuY29tMB4XDTIwMDIxMTIyMzc0MFoXDTIzMDIxMDIy
  Mzc0MFowfDELMAkGA1UEBhMCQVUxDDAKBgNVBAgMA05TVzEbMBkGA1UECgwSUmVk
  IEhhdCBDb25zdWx0aW5nMRMwEQYDVQQLDApDb25zdWx0aW5nMQswCQYDVQQDDAJD
  QTEgMB4GCSqGSIb3DQEJARYRd2RvdmV5QHJlZGhhdC5jb20wggEiMA0GCSqGSIb3
  DQEBAQUAA4IBDwAwggEKAoIBAQCz6R9ePK0XSYgZF7zwgFUA0STH1p2vYZV8qVO9
  wioGxcxaBja3+Y5ejCMEdeHfDUD/nI1ujit0ynJoiSe6li610Yig5wVynXfo7p1O
  8sQMDY0cx7nk3tVaV0tzgc0IOZ2w6hv1C1RsXA3sMaOUocat7aBHg1l2fFKL9Jgo
  PMpiedzP+cfhZkwmPbEep7uynb5kqKn3BLqCknu7AJ7iig2NqOiSLx1rkCheMJFO
  NhZGYRrh4oxkNSoXAT7YyU9ZdZcUE6DR4V9WXfhnqY/iZp2w0pu0Z4JY4naYHIBA
  z8EXKa0kVcxG63KPpI/MeAKy6Covp5nx2wKK3mFxL47GqPO3AgMBAAGjUDBOMB0G
  A1UdDgQWBBRMlHP/AqU6CYRo3Ol2JIQ+hmLS9TAfBgNVHSMEGDAWgBRMlHP/AqU6
  CYRo3Ol2JIQ+hmLS9TAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBCwUAA4IBAQBI
  WeLSPvz36vhrU8eaAAvsuVASddiLDywYwEg9VbJ7+cvaC2Gxfou4PmjhfNdtip5p
  5syH2M3r7vkHOJbaCkRMWHuuTGN7WoCJ5ZkbITLzsXEDblMjNaRBt+MVYfN4mCs4
  YGqU2xcoix4mVfz8bhLdS19PAv1+ybjyobLgR+hYQOsOI9Y2d+bFDNrmtxVIv10N
  UWLO+SlAsz8OJAQL0EnmP4lYeRkHeBaJumCdGxTeHe/YaJ+aDaYi3xrCmNFTbmHZ
  6FlaLK5okjDR//7Z4euFdLN35FiZ6RwTH6DtPSNTrup5jdn/q52iTg1fviZxiwfB
  UiZ28o5sJ4VRdJmFWsB6
  -----END CERTIFICATE-----"
vcenter:
  ip: 
  datastore: datastore1
  defaultdatastore: datastore1
  username: administrator@vsphere.local
  password: 
  datacenter: test
  cluster: vmware-testcluster
  vm_network: OpenShift-Network
download:
  oc_client: "https://mirror.openshift.com/pub/openshift-v4/x86_64/clients/ocp/4.3.3/openshift-client-linux-4.3.3.tar.gz"
  openshift_install: "https://mirror.openshift.com/pub/openshift-v4/x86_64/clients/ocp/4.3.3/openshift-install-linux-4.3.3.tar.gz"

# Post Deployment Vars
htpasswdpath: "./postinstall/users.htpasswd"
htpasswd_name: "my_htpasswd_provider"
htpasswd_pw: "redhat"
htpasswd_admin_users: "admin"
ldap_name: "my_ldap_provider"
ldap_pw: "testuser3"
ldap_bindDN: "uid=testuser3,ou=People,dc=example,dc=com"
ldap_url: "ldap://helper.ocp4.lab.gsslab.pek2.redhat.com/ou=people,dc=example,dc=com?uid"
ldap_admin_users: "testuser3"
oc_admin_role: "cluster-admin"
oc_app_domain: "apps.ocp4.lab.gsslab.pek2.redhat.com"
oc_api_domain: "api.ocp4.lab.gsslab.pek2.redhat.com"
