apiVersion: v1
baseDomain: {{ config.baseDomain }}
proxy:
  httpProxy: {{ config.proxy }}
  httpsProxy: {{ config.proxy }}
  noProxy: {{ config.no_proxy }}
compute:
- hyperthreading: Enabled   
  name: worker
  replicas: 0 
controlPlane:
  hyperthreading: Enabled   
  name: master
  replicas: 3 
metadata:
  name: {{ config.clusterName }}
platform:
  vsphere:
    vcenter: {{ vcenter.ip }}
    username: {{ vcenter.username }}
    password: {{ vcenter.password }}
    datacenter: {{ vcenter.datacenter }}
    defaultDatastore: {{ vcenter.datastore }}
pullSecret: '{{ config.pullSecret | to_json }}'
sshKey: '{{ config.sshKey }}'
imageContentSources:
- mirrors:
  - registry.ocp4.lab.gsslab.pek2.redhat.com:5000/ocp4/openshift4
  source: quay.io/openshift-release-dev/ocp-release
- mirrors:
  - registry.ocp4.lab.gsslab.pek2.redhat.com:5000/ocp4/openshift4
  source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
