#cloud-config

users:
  - default
  - name: {{ remote_user }}
    primary_group: {{ remote_user }}
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: sudo, wheel
    ssh_import_id: None
    lock_passwd: true
    ssh_authorized_keys:
    - {{ config.sshKey }}
